# Pandas (Basic)

## 1. Initialization

### 1.2. Initialize a pandas DataFrame

In [2]:
import pandas as pd

df = pd.DataFrame(data=[[1, 2], [3, 4], [5, 6]], columns=['a', 'b'])

In [3]:
df

   a  b
0  1  2
1  3  4
2  5  6

### 1.2. Load from a CSV

In [4]:
df = pd.read_csv('TSLA.csv')

In [5]:
df

,date,open,high,low,close,volume,changed,changep,adjclose,tradeval,tradevol
0,2017-06-22,377.990,385.00,373.57,382.61,7529778,6.21,1.65%,382.61,2.874833e+09,72385
1,2017-06-21,374.350,376.99,368.02,376.40,4923210,4.16,1.12%,376.40,1.834097e+09,45874
2,2017-06-20,376.670,378.88,369.73,372.24,7438701,2.44,0.66%,372.24,2.777359e+09,72647
3,2017-06-19,375.000,376.70,367.80,369.80,6549332,-1.60,-0.43%,369.80,2.436166e+09,62988
4,2017-06-16,377.975,378.01,370.10,371.40,6730973,-3.94,-1.05%,371.40,2.512614e+09,56234

At this point, if you'd like, you can continue with part 2 of this lesson, "Python Refresher: List, Dict, Loop, and Functions", but if you are already comfortable enough with these Python concepts, you may move forward with this notebook.

## 2. Some useful functions
### 2.1. Get certain columns
You can "slice" a DataFrame to get data only for certain columns.
### 2.2. Rename a column
### 2.3. Merge DataFrames
### 2.4. Sort by values and data type setting
### 2.5. Set index