# Pandas (Basic)

## 1. Initialization

### 1.2. Initialize a pandas DataFrame

In [1]:
import pandas as pd

df = pd.DataFrame(data=[[1, 2], [3, 4], [5, 6]], columns=['a', 'b'])

In [2]:
df

   a  b
0  1  2
1  3  4
2  5  6

### 1.2. Load from a CSV

In [3]:
df = pd.read_csv('TSLA.csv')

In [4]:
df

,date,open,high,low,close,volume,changed,changep,adjclose,tradeval,tradevol
0,2019-10-31,313.10,319.00,313.0000,314.92,5066956,-0.09,-0.03%,314.92,1.599107e+09,61746
1,2019-10-30,313.00,318.79,309.9700,315.01,9641810,-1.21,-0.38%,315.01,3.024126e+09,101674
2,2019-10-29,319.99,324.30,314.7500,316.22,12684267,-11.49,-3.51%,316.22,4.041983e+09,143593
3,2019-10-28,327.54,340.84,322.6000,327.71,18870286,-0.42,-0.13%,327.71,6.242744e+09,222826
4,2019-10-25,297.72,330.00,296.1100,328.13,30006091,28.45,9.49%,328.13,9.526807e+09,350914
...,...,...,...,...,...,...,...,...,...,...,...
206,2019-01-08,341.96,344.01,327.0200,335.35,7008516,0.39,0.12%,335.35,2.349815e+09,75879
207,2019-01-07,321.72,336.74,317.7508,334.96,7551225,17.27,5.44%,334.96,2.497428e+09,87649
208,2019-01-04,306.00,318.00,302.7300,317.69,7394116,17.33,5.77%,317.69,2.306064e+09,84616
209,2019-01-03,307.00,309.40,297.3800,300.36,6965184,-9.76,-3.15%,300.36,2.104422e+09,81543
210,2019-01-02,306.10,315.13,298.8000,310.12,11658648,-22.68,-6.81%,310.12,3.584239e+09,144872

### 1.3. Viewing basic statistics of data with `pd.describe()`

While looking at the data points directly would give us a good insight about the data, sometimes we may want to see the aggregate information of our dataset. For this, we can use `pd.describe()` function as such:

In [5]:
df.describe()

,open,high,low,close,volume,changed,adjclose,tradeval,tradevol
count,211.000000,211.000000,211.000000,211.000000,2.110000e+02,211.000000,211.000000,2.110000e+02,211.000000
mean,256.674583,261.135855,252.233718,257.023791,9.248764e+06,-0.084739,257.023791,2.355485e+09,101610.625592
std,37.550333,38.366875,37.158604,38.149160,4.928520e+06,8.743059,38.149160,1.315722e+09,54801.370240
min,181.100000,186.680000,176.991900,178.970000,3.238625e+06,-45.050000,178.970000,6.977318e+08,37157.000000
25%,229.225000,232.440000,225.210000,228.515000,5.969218e+06,-3.295000,228.515000,1.583312e+09,67024.000000
50%,246.960000,251.080000,244.840000,247.060000,7.551225e+06,-0.090000,247.060000,2.045579e+09,84667.000000
75%,283.515000,289.320000,280.780000,285.620000,1.078070e+07,4.320000,285.620000,2.647446e+09,115266.000000
max,346.210000,352.000000,344.150000,347.310000,3.000609e+07,45.000000,347.310000,9.526807e+09,350914.000000

As you see, we can get interesting statistics of all fields in our DataFrame object with this function.

---------------------

At this point, if you'd like, you can continue with part 2 of this lesson, "Python Refresher: List, Dict, Loop, and Functions" and/or check out the [notebook for Python Refresher lesson](python-refresher.ipynb), but if you are already comfortable enough with these Python concepts, you may move forward with this notebook.

---------------------

## 2. Some useful functions
To demonstrate various `pandas` functions in this lesson, we will create two DataFrames with which we will perform our operations in:

- The first DataFrame `df1` contains stock ABC's close price and adjusted close prices.
- And the second DataFrame `df2` contains stock DEF's close price and adjusted close prices.

Both DataFrames have the following fields:

1. `date`: Date of recording, stored as `string`, sorted by recent-first.
2. `adjclose`: Adjusted close price, stored as `float`.

We want to create a combined DataFrame that will have the following fields:

1. `date`: Date of recording, sorted by oldest-first.
2. `ABC`: Adjusted close price for ABC.
3. `DEF`: Adjusted close price for DEF.

The catch is that, since they are two different companies, there are dates for which only ABC has recorded prices, and there are dates where only DEF has them. The merged DataFrame must keep both rows in those cases. In SQL language, we call them *outer join*, or in the mathematical term, *union* of two datasets.

In [6]:
df1 = pd.DataFrame(columns=['date', 'close', 'adjclose'],
                   data=[['2019-11-12', 11.79, 11.79], ['2019-11-10', 5.86, 11.71]])
df2 = pd.DataFrame(columns=['date', 'close', 'adjclose'],
                   data=[['2019-11-13', 9.28, 9.28], ['2019-11-11', 9.21, 9.21], ['2019-11-10', 9.35, 9.35]])

In [7]:
df1

         date  close  adjclose
0  2019-11-12  11.79     11.79
1  2019-11-10   5.86     11.71

In [8]:
df2

         date  close  adjclose
0  2019-11-13   9.28      9.28
1  2019-11-11   9.21      9.21
2  2019-11-10   9.35      9.35

### 2.1. Viewing DataFrame fields information with `pd.info()` function

Notice that, by presenting the DataFrames directly, we cannot tell the data type of each field. `pandas.info()` function will greatly help us in this scenario.

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
date        2 non-null object
close       2 non-null float64
adjclose    2 non-null float64
dtypes: float64(2), object(1)
memory usage: 176.0+ bytes

As we see, `date` is stored as `object`, which is the `pandas` way of telling us that it is a `string` object. We will want to convert them to proper `datetime` object later. The other two fields are correctly stored as `float64`.

### 2.2. Get certain columns
You can "slice" a DataFrame to get data only for certain columns. Since we only need the `adjclose` column in this case, we may slice it as such.

In [10]:
df1_sliced = df1[['date', 'adjclose']]
df2_sliced = df2[['date', 'adjclose']]

**Test**

See that we now have two columns:

In [11]:
df1_sliced.columns

Index(['date', 'adjclose'], dtype='object')

In [12]:
df1_sliced.columns

Index(['date', 'adjclose'], dtype='object')

### 2.3. Rename a column

The final DataFrame will have the ticker names as field names replacing `adjclose`, and so we will use `pd.rename()` function to accommodate this requirement.

In [13]:
df1_renamed = df1_sliced.rename(columns={'adjclose': 'ABC'})
df2_renamed = df2_sliced.rename(columns={'adjclose': 'DEF'})

**Test**

Columns are now renamed:

In [14]:
print(df1_renamed.columns)
print(df2_renamed.columns)

Index(['date', 'ABC'], dtype='object')
Index(['date', 'DEF'], dtype='object')

### 2.3. Merge DataFrames
Now that we have the correct column names, we may now merge the DataFrames.

In [15]:
df_merged = df1_renamed.merge(df2_renamed, on='date', how='outer')

**Test**

Notice that, as expected, we have the union of both DataFrames.

*For exercise, try other values for `how` argument. Try 'inner', 'left', and 'right' to see what they do.*

In [16]:
df_merged

         date    ABC   DEF
0  2019-11-12  11.79   NaN
1  2019-11-10  11.71  9.35
2  2019-11-13    NaN  9.28
3  2019-11-11    NaN  9.21

### 2.4. Sort by values and data type setting

It is good that we have the DataFrames merged, but notice that the dates are jumbled up. We want to sort the data on an oldest-first basis. However, just to be sure we are ordering correctly, it is a better practice to set the field to the proper data type first.

In [17]:
# I got the value 'datetime64[ns]' from a bit of Googling, so yeah, that's
# the core competency of expert quants.
df_merged['date'] = df_merged['date'].astype('datetime64[ns]')
df_sorted = df_merged.sort_values(by=['date'], ascending=True)

**Test**

Let's see if this works by displaying the content of `date` column:

In [18]:
df_sorted['date']

1   2019-11-10
3   2019-11-11
0   2019-11-12
2   2019-11-13
Name: date, dtype: datetime64[ns]

Notice the difference between [['date']] and ['date'] here. The former returns a DataFrame, and the latter returns a Series which also shows its data type.

### 2.5. Set index

Notice that we still have the integers 0, 1, 2, 3 as our indexes. To make it easier when we plot the DataFrame later, we want to use the `date` field as the DataFrame's index.

In [19]:
df_final = df_sorted.set_index('date')

**Test**

Let's preview the final DataFrame:

In [20]:
df_final

              ABC   DEF
date
2019-11-10  11.71  9.35
2019-11-11    NaN  9.21
2019-11-12  11.79   NaN
2019-11-13    NaN  9.28

--------
# Congratulations!

You have completed the most complex part of **Section 1** of this course, and, arguably, the most challenging part in this course if you have just started learning about Python and pandas. The next lessons will build on top of what you have learned so far. Keep it up!